*.iml
build
.gradle
.idea
/PushSDK/
/gradlew
/settings.gradle
/gradlew.bat
/gradle/
/commonlibrary/proguard-rules.pro

.svn/tmp/
Jinr/bin/res/
Jinr/libs/arm64-v8a/
commonlibrary/libs/
commonlibrary/src/main/java/
commonlibrary/src/main/res/drawable/
